<h1>New User</h1>

<% if false %>
<%= render 'form' %>
<% end %>

<form action="/users" method="POST">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <input type="text" name="user[name]"><br>
  <input type="email" name="user[email]"><br>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Sign Up">
</form>

<%= link_to 'Back', users_path %>
